@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&display=swap');

html {
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

p, span, h1, h2, h3, h4, h5, h6, p, ul, li, textarea, input, label {
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
}

textarea {
    outline: none;
}

.hover-sh:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

    border-radius: 5px;
    /* padding: 0; */
    /* margin: 0px 15px 0px 15px; */
}

.cursor-d {
    cursor: default;
}

.cursor-p {
    cursor: pointer;
}

.btn-nav {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .btn-nav:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    border-radius: 5px;
} */

.btn-nav.active:hover {
    box-shadow: none !important;

}

.btn-nav.active {
    border-radius: 5px;
    background-color: lightgray;
}

.addToCart {
    width: 50% !important;
    height: 50px;
    background-color: #68C903;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCart:hover {
    text-decoration: none;
    color: white;
}

.Btn-Payment {
    /* max-width: 150px; */
    height: 50px;
    background-color: #006FB9;
    color: white;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-cus {
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

/* Contact */
.map-infor {
    width: calc(100% - 1rem) !important;
    margin-left: 1rem;
}

.map-infor>div {
    width: 35% !important;
}

.map-infor span {
    margin-top: 10px;
}

.img-map {
    top: 0px;
    left: 0px;
}

span>a {
    color: black;

}

span>a:hover {
    color: gray;
    text-decoration: none;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 70% !important;
}

.w-70 {
    width: 70% !important;
}

.vh-80 {
    height: 80vh !important;
}

.btn-close {
    background-color: white !important;
    outline: none;
    border: none;
}

.mySwiper2>img {
    z-index: -1;
}

.badge-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    top: -8px;
    right: -15px;
}


.badge-custom>span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006FB9;
    border-radius: 10px !important;
    font-size: 12px;
    color: white;
}

.card {
    color: black;
}

.card:hover {
    text-decoration: none;
    color: black;
}

.nav__side-btn>div {
    width: 40px;
    height: 40px;
    background-color: #6987DF;
    font-weight: bold;
}

.nav__side-btn>div:hover {
    background-color: #768fdc;
}

.nav__header {
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.brand {
    top: 0px;
    left: 0px;
}

div>a {
    text-decoration: none;
    color: white;
}

div>a:hover {
    text-decoration: none;
    color: white;
}

.collapse-cus>div>a {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    color: black;
}

.collapse-cus>div>a:hover {
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
    color: black;
}

/* Admin */
/* Dashboard */
.border-left-primary {
    border-left: 0.25rem solid #4e73df;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e;
}

.Side__Nav {
    min-height: 100vh;
}

.side__menu>div:hover, .side__menu>a:hover {
    background-color: #385dcc;
}

/* Responsive */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .map-infor {
        width: 100% !important;
        margin-left: 0px;
        padding: 5px;
    }

    .map-infor>div {
        margin-top: auto;
        width: 100% !important;
        padding: 10px !important;
    }

    .map-infor span {
        margin-top: 0px;
        font-size: 15px;
    }

    .cart-items-info span {
        font-size: 15px;
    }

    .col-img-bec {
        padding: 5px !important;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .map-infor {
        width: 100% !important;
        margin-left: 0px;
        padding: 5px;
    }

    .map-infor>div {
        margin-top: auto;
        width: 100% !important;
        padding: 10px !important;
    }

    .map-infor span {
        margin-top: 0px;
        font-size: 15px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .map-infor {
        width: 100% !important;
        margin-left: 0px;
        padding: 5px;
    }

    .map-infor>div {
        margin-top: auto;
        width: 100% !important;
        padding: 10px !important;
    }

    .map-infor span {
        margin-top: 0px;
        font-size: 15px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}